#timeline {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 0 50px;
	margin: 0 auto;
}

#timeline .date-container {
	position: relative;
	height: 20px;
}

#timeline .date {
	position: absolute; 
	top: -20px; 
	left: 0px;
	width: 100px; 
	margin-left: -50px; 
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px 0;
}

#timeline input {
	width: 100%;
	margin:0 auto;
}

