.ui-slider {
	position: absolute;
	width: 100%;
	bottom: 0;
	margin: 0 auto;
}

.ui-slider .date-container {
	position: relative;
	height: 20px;
}

.ui-slider label {
	position: absolute;
	top: -40px;
	left: 0px;
	margin-left: -50px;
	width: 100px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px 0;
}

.ui-slider input {
	width: 100%;
	margin:0 auto;
}

